@{
    ViewBag.Title = "ManageFlightSchedule";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}


	<section id="content">
		<article class="col2 pad_left1">
			
	<div id="abc">
    <pre>
        <b>You can perform following tasks</b>
        --> Manage Flight Schedule


      



    </pre>
            </div>	
		</article>

		<article id="loaddata"  class="col1">
			
           
		</article>
	</section>

			